<!DOCTYPE html>
<html>
    
    <head>
    </head>
    
    
    <body>
        <p>You have recieved message from contact form. </p>
        <p> From: <%= "#{ @name} "%> 
        <p> Email: <%= "#{ @email} " %></p>
        <p>Message: <%= @body %></p>
        
    </body>
    
</html>